@media (width < 400px){
  #about{
    width: 100vw;
    height: auto;
  }
   .about-ppas-container{
        padding: 1rem;
        height: auto;
      }

  ******************************************************** */
  /* .about-ppas-container{
 

  } */
  .texts{
    width: 95vw;
    height: 145vh;
    /* background-color: red; */
  }
  .texts img{
    width: 130px;
    height: 130px;
    border-radius: 130px;
  }
  .text h1{
    font-size: 20px;
    font-weight: bolder;
  }
  .texts p{
    font-size: 17px;
  }
  /* **************************************************8***** */
  #team{
    margin-top: 4vh;
    height: auto;
    width: 100vw;
  }
  .our-team{
    width: 100vw;
    height: 35vh;
    /* background-color: yellow; */
  }
  .our-team p{
    display: flex;
    width: 50vw;
    font-size: 17px;
    /* background-color: red; */
  }

  /* ************************************************************* */
  #client{
    height: auto;
  }
  .our-client{
    width: 100%;
    height: auto;
    /* background-color: #f8de7e; */
  }
  /* ***************************************************** */
  .man{
    width: 100vw;
    height: auto;
    /* background-color: yellow; */
}

}



@media (width < 912px){
     #about{
        width: 100vw;
        height: auto;
      }
      /* ********************************************************** */
      .about-ppas-container{
        padding: 1rem;
        height: auto;
      }
      .about-ppas-container::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url(./pageswitback/helmet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
      .texts{
        width: 100%;
        height: auto;
      }
      .texts img{
        width: 180px;
        height: 180px;
      }
      .text h1{
        font-size: 25px;
      }
      /* ***************************************** */
      #team{
        padding-top: 5vh;
        height: auto;
        width: 100vw;
      }
      .our-team p{
        width: 95vw;
        height: 15vh;
      }
      .team-container{
        width: 100vw;
        height: auto;
        justify-content:center;
      }
      .team-profile{
        height: 450px;
        width: 325px;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .team-profile img{
        height: 70%;
        width: 100%;
       
      }
      .team-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 125px;
        width: 325px;
      }
      .team-details h1{
        font-size: 20px;
      }
      .team-profile p{
        font-size: 16px;
      }

      /* ************************************************* */
      #client{
        height: auto;
        width: 100vw;
      }

      .our-client{
        width: 100vw;
        height: auto;
        /* background-color: #f8de7e; */
      }

      .man{
        width: 100vw;
        height: auto;
      }
      .slider .list .item img{
        width: 50%;
    }

}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&77 */
/* MEDIA QUERY  */
  /* For customers section  */
/* Tablets (≤ 992px) */
@media (max-width: 992px) {
  .testimonial-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .testimonial-text {
    font-size: 0.95rem;
  }
}

/* Mobile (≤ 600px) */
@media (max-width: 600px) {
  .testimonials .section-title {
    font-size: 1.3rem;
  }

  /* .testimonial-card {
    padding: 5px;
  } */

  .testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
  }

  .testimonial-author img {
    width: 40px;
    height: 40px;
  }

  .testimonial-carousel button.prev,
  .testimonial-carousel button.next {
    font-size: 1rem;
    padding: 4px 10px;
  }
  .testimonial-carousel .prev {
  left: -10px;
  }

  .testimonial-carousel .next {
    right: -10px;
  }
}
   