*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: montserrat;
  
  
}

#contact{
 margin-top: 130px;
  display: flex;
  flex-direction:column;
  width:100vw;
  height: auto; 
  align-items: center;
  justify-content: center;
  animation: serve 3s; 
  /* background: lightcoral; */
  
}
@keyframes conta {
  0% {
      transform: rotateX(0deg) scale(0);
  }

}
.our-contacts{
 display: flex;
  flex-direction: column;
  width: 60vw;
  height: auto;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
} 

.our-contacts h1{
font-size: 35px;
color: #69140e;
}

.our-contacts p{
  text-align: center;
  font-size: 18px;
  color: #69140e;
  /* background-color: blue; */
}
/* ************************************************** */

/* *********************************************** */
.contact-icons{
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 65vh;
  align-items: center;
  justify-content: center;
  /* background: green; */
  }

.contact-icons i{
  display: flex;
  width: 60px;
  height: 75px;
  background-color: #69140e;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-icons h1{
color: #69140e;
}

.contact-icons p{
color: #69140e;
}

.phone, .whatsapp, .email, .address{
  display: flex;
  width: 550px;
  height: 170px;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}    

.sub-phone, .sub-whatsapp, .sub-email, .sub-address{
  display: flex;
  flex-direction: column;
  width:450px;
  height: 100px;
  margin-left: 5px;
  padding-top: 10px;
  padding-left: 10px;
  /* background-color: red; */
}

.contact-icons a{
text-decoration: none;
color: white;
}

.contact-icons i:hover{
background-color: #d58936 ;
}

.contact-icons p:hover{
color: #d58936 ;
}

/* ****************************************** */
#yes-msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  /* background-color: blue; */
}
.contact-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height:100%;
  gap: 20px;
  /* background-color: #d58936; */
}

.cont-form, .maps{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
  /* background-color: rgb(70, 14, 166); */
  color: white;

}

form h3{
  color: #69140e;
}

form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 550px;
  height: 50px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  background-color: #69140e;
  color: white;
  
}

textarea{
  width: 550px;
  height: 30vh;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
  background-color: #69140e;
  color: white;
}

.submit{
  display: flex;
  align-items: center;
  width: 200px;
  height: 45px;
  justify-content: center;
  text-align: center;
  background-color:#69140e;
  color: white;
  font-size: 18px;
}
.submit:hover{
  background-color: #d58936;
}
/* ***************** */
/* ***************************************************** */
.call-bar{
  width: 100vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69140e;
}
.call-bar:hover{
  background-color: #d58936;
}

.call-bar .fa-solid{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #69140e;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.call-bar a{
  display: flex;
  width: 80vw;
  height: 10vh;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
}

.call-bar p{
  margin-top: 17px;
  font-size: 15px;
}

.call-bar a:hover{
  transform: scale(1.1);
  transition: transform 0.2s;
  
}


  