@media (width < 400px){

  .project{
    margin-top: 0;
    height: auto;
  }
  .project-head {
    margin-top: 0;
  }
  
  .project-head p{
    font-size: 17px;
  }

}

/* *************************************************************************************************** */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */
/* **************************************************************************************************** */






@media (width < 912px){

      .content{
        width: 100vw;
      }

      .content h1{
        font-size: 50px;
        text-align: center;
        /* background-color: red; */
        
      }
      .content h3{
        font-size: 20px;
      }

      .intro-content{
        display: flex;
        flex-direction: column;
      }
      /* ****************************************************** */

      #promo{
        height: 50vh;

      }
      /* ******************************************************** */

      .project{
        margin-top: 7vh;
        height: auto;
        /* background-color: orange; */
      }
    
      .project-head{
        margin-top: 2vh;
        display: flex;
        flex-direction: column;
        width: 95vw;
        height: auto;
        justify-content: center;
        align-items: center;
        /* background-color: yellow; */
      }
      .project-grid{
        height: auto;
        margin: 2vh;
        gap: 20px;
      }
    
      .project-item{
        width: 300px;
        height: 40vh;
      }
      .lightbox{
        margin-top: 10vh;
      }
    
      .lightbox-content {
        background-color: black;
        width: 85vw;
        height: 55vh;
      }

    }

    /* MEDIA QUERY  */
  /* For customers section  */
/* Tablets (≤ 992px) */
@media (max-width: 992px) {
  .testimonial-card {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .testimonial-text {
    font-size: 0.95rem;
  }
}

/* Mobile (≤ 600px) */
@media (max-width: 600px) {
  .testimonials .section-title {
    font-size: 1.3rem;
  }

  /* .testimonial-card {
    padding: 5px;
  } */

  .testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
  }

  .testimonial-author img {
    width: 40px;
    height: 40px;
  }

  .testimonial-carousel button.prev,
  .testimonial-carousel button.next {
    font-size: 1rem;
    padding: 4px 10px;
  }
  .testimonial-carousel .prev {
  left: -10px;
  }

  .testimonial-carousel .next {
    right: -10px;
  }
}
   