@media (width < 912px) {
   .our-work{
    gap: 15px;
    padding: 1rem;
   }

      .lightbox{
        margin-top: 10vh;
      }
    
      .lightbox-content {
        background-color: black;
        width: 85vw;
        height: 55vh;
      }
  /* ************************************************************* */

}