
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  font-family: montserrat;
}

/* Video Background Container */
.video-container {
  position: relative;
  width: 100%;
  height: calc(100vh + 130px); /* Full viewport height */
  overflow: hidden;
}

/* Video Styling */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Places the video behind the text */
}

/* Text Overlay Styling */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4); /* Optional: Add a semi-transparent overlay for better text readability */
}

.content h1 {
    font-size: 75px;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 20px;
    color: white;
    text-shadow: #d58936 3px 3px 3px;
  animation: ppas 2s;
}
@keyframes ppas {
  0% {
      transform: rotateX(180deg) scale(0);
  }

}
.content h3{
  font-size: 30px;
  color: white;
  text-shadow: #d58936 3px 3px 3px;
  animation: slogan 3s;
}
@keyframes slogan {
  0% {
      transform: rotateX(180deg) scale(0);
  }
}


.content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.content button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #d58936; /* Match your brand color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.content button:hover {
  background-color: #69140e; /* Darker shade for hover effect */
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* ************************************************************************ */
#promo{
  margin-top: 5vh;
  display: flex;
  width: 100vw;
  height: 75vh;
  justify-content: center;
  align-items: center;
  background-image: url(./prjct-img/2onruff.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.promo-banner {
  overflow-y: hidden;
  width: 50vw;
  height: 40vh; 
  opacity: 0;
  transform: translateX(-100%); /* Start position: off the screen to the right */
  transition: transform 2s ease, opacity 1s ease;
}

.promo-banner.visible {
  transform: translateX(0);
  opacity: 1;
}

.discount img{
  width: 100%;
  height: 100%;
}
/* ****************************************************************** */
/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */

/* Intro Section */
.intro-section {
    width: 100vw;
    padding: 4rem 2rem;
    color: #69140e;
    background: linear-gradient(-45deg, #d58936, white, #69140e);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.intro-content {
    display: flex;
    gap: 2rem;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.intro-text-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 100%;
    gap: 1.5rem;
    text-align: left;
    /* background-color: red; */
}
.intro-container{
  width: 40%;
  height: 60%;
  /* background-color: blue; */
}

.intro-container img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    
}
.cta-button {
    display: flex;
    width: 250px;
    height: 70px;
    align-items: center;
    justify-content: center;
    background:  #69140e;
    color: white;
    letter-spacing: 2px;
    border-radius: 3px;
    text-decoration: none;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

.cta-button:hover {
    background-color:#d58936;
    transform: translateY(-7px);
    border: none;
}
/* ****************************** */


/* START: GALLERY SECTION  */
/* **************************** */
.project {
  margin: 15vh 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  text-align: center;
  /*background-color: red;*/
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 70vw;
  gap: 20px;
  /* background-color: red; */
}


.project-item {
  width: 250px;
  height:40vh;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.2s;
  background-color: #d58936;
}

.project-item:hover {
  transform: scale(0.7);
}

.lightbox {
  margin-top: 6vh;
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox-content {
  background-color: black;
  width: 50vw;
  height: 85vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: #d58936;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}
/* *********************************************************************** */

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  width: 100vw;
  background: linear-gradient(-45deg, #d58936, white, #69140e);
  background-size: 400% 400%;
  animation: gradientShift 8s ease infinite;
  color: #69140e;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

time{
  color: #d58936; /*numbers*/
}

.timeline ol {
  position: relative;
  list-style: none;
}

.timeline ol::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #d58936; /*vertical line*/
}

.timeline ol li .item-inner {
  padding: 0px 180px;
}

.timeline ol li .time-wrapper {
  position: relative;
  font-size: 3rem; /* the numbers */
  font-weight: bold;
}

.timeline ol li .time-wrapper::before,
.timeline ol li .time-wrapper::after {
  content: "";
  position: absolute;
  background: #d58936; /*the  horizontal line*/
}

.timeline ol li .time-wrapper::before {
  top: 50%;
  left: -180px;
  transform: translateY(-50%);
  width: 0;
  height: 3px;
  transition: width 0.8s linear;
}

.timeline ol li .time-wrapper::after {
  top: calc(50% - 8px);
  left: -60px;
  width: 15px;
  height: 15px;/*the dot  */
  border-radius: 50%;
  transform: scale(0);
  transform-origin: left center;
  transition: all 0.4s linear;
}

.timeline ol li time,
.timeline ol li .detail > * {
  opacity: 0;
  transition: 0.5s;
}

.timeline ol li time {
  display: inline-block;
  transform: translateY(-30px);
}

.timeline ol li .detail > * {
  transform: translateY(30px);
}

.timeline ol li .detail h3 {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #69140e;
  text-shadow: none;
}
/* ANIMATION STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ol li.in-view .time-wrapper::before {
  width: 120px;
}

.timeline ol li.in-view .time-wrapper::after {
  transition-delay: 0.8s;
  transform: scale(1.5);
}

.timeline ol li.in-view time,
.timeline ol li.in-view .detail > * {
  opacity: 1;
  transform: none;
}

.timeline ol li.in-view time {
  transition-delay: 1.3s;
}

.timeline ol li.in-view .detail h3 {
  transition-delay: 1.5s;
}

.timeline ol li.in-view .detail p {
  transition-delay: 1.7s;
}

/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 700px) {
  .timeline{
      margin: 0 auto;
      max-width: 1000px;
      padding: 50px 60px;      
      text-align: center;
  }
  .timeline ol li .item-inner {
    padding: 20px 40px;
  }

  .timeline ol li .time-wrapper::before {
    display: none;
  }

  .timeline ol li .time-wrapper::after {
    left: -45px;
    transform-origin: center;
  }

  .timeline ol li.in-view .time-wrapper::after {
    transition-delay: 0s;
  }

  .timeline ol li.in-view time {
    transition-delay: 0.5s;
  }

  .timeline ol li.in-view .detail h3 {
    transition-delay: 0.7s;
  }

}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& */


/* Testimonial Section */
.testimonials {
    font-family: montserrat;
    width: 100vw;
    padding: 70px 20px;
    text-align: center;
    position: relative;
    background: linear-gradient(-45deg, #d58936, white, #69140e);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  
  .testimonials .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #69140e;
    font-weight: bold;
    font-family: "Frijole", system-ui;
  }
  
  .testimonial-carousel {
    position: relative;
    max-width: 700px;
    margin: auto;
  
  }
  
  .testimonial-card {
    display: none;
    padding: 35px 25px;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  
  .testimonial-card.active {
    display: block;
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .testimonial-text {
    font-style: italic;
    color: #69140e;
    margin-bottom: 25px;
    line-height: 1.7;
    font-size: 1.1rem;
  }
  
  .testimonial-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  .testimonial-author img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgb(50, 26, 5, 0.2);
  }
  
  .testimonial-author h4 {
    font-family: "Frijole", system-ui;
    margin: 0;
    font-size: 1.1rem;
    color:#69140e;
  }
  
  .testimonial-author span {
    font-size: 1rem;
    color: #69140e;
  }
  
  /* Navigation Arrows */
  .testimonial-carousel .prev,
  .testimonial-carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(50, 26, 5);
    border: none;
    font-size: 2rem;
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .testimonial-carousel .prev:hover,
  .testimonial-carousel .next:hover {
    background: #69140e;
    color: white;
    /* z-index: 100; */
  }
  
  .testimonial-carousel .prev {
    left: -60px;
  }
  
  .testimonial-carousel .next {
    right: -10px;
  }
  
  /* Dots */
  .dots {
    text-align: center;
    margin-top: 20px;
  }
  
  .dots span {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    display: inline-block;
    background: rgb(50, 26, 5, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .dots .active {
    background: #69140e;
  }
  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
  }